# EditorConfig helps developers define and maintain consistent coding styles between different editors and IDEs
# More information at https://EditorConfig.org

root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
end_of_line = lf
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
max_line_length = 79
insert_final_newline = false
trim_trailing_whitespace = false
indent_size = 2

[{LICENSE, VERSION, requirements*, *.txt}]
insert_final_newline = false
